.pioenvs
.clang_complete
.gcc-flags.json

# Ignore vim swaps
*.swp
*.swo

# Ignore files build by xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcworkspacedata
*.xcuserstate
*.xccheckout
xcschememanagement.plist
.DS_Store
._.*
xcuserdata/
DerivedData/
.gradle/
.idea/

